body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.Main {
  color: #696969;
  text-align: center;
  width: 100%;
}

.Header {
  background-color: hsl(30, 91%, 44%);
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05em;
  padding: 1rem 0;
  text-shadow: 2px 2px 2px hsl(30, 80%, 37%);
  text-transform: uppercase;
  width: 100%;
}